.chatListContainer {
  width: 450px;       /* Fixed width for the sidebar */
  background-color: #eae6dd; /* Light grey background */
  height: 100vh; 
  border: 10px;
  border-radius: 5px;
}

.listHeader{
  display: flex;           /* Activates flexbox layout */
  align-items: center;     /* Vertically centers the items in the container */
}

.listHeader h3 {
  margin-right: 100px;    /* Adds some spacing between the h2 and the svg */
  font-size: 20px; 
  margin-left: 10px;
  margin-top: 10px;
}

.chatItem {
  text-align: center;
  border-radius: 5px;
  padding: 20px; /* Add some spacing inside the border */
  margin: 10px 0; /* Add some space between chat items */
  cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.chatItem:hover {
  background-color: #fcfaad; /* Light grey background on hover, choose any color you like */
}

.submitButton{
  margin-top: 10px;
}